{% set pagetitle = 'Test setup'|trans %}
{% extends "base.twig" %}

{% block content %}
  <h1>{{ pagetitle }}</h1>

  <p>
    Choose test:
  </p>

  <ul>
    <li>
      <a href="{{ moduleURL('conformance/test/setup?testId=standardResponse&StateId=' ~ StateId) }}">{% trans %}Test 1 (valid signature){% endtrans %}</a>
    </li>
    <li>
      <a href="{{ moduleURL('conformance/test/setup?testId=noSignature&StateId=' ~ StateId) }}">{% trans %}Test 2 (no signature){% endtrans %}</a>
    </li>
    <li>
      <a href="{{ moduleURL('conformance/test/setup?testId=invalidSignature&StateId=' ~ StateId) }}">{% trans %}Test 3 (invalid signature){% endtrans %}</a>
    </li>
  </ul>

{% endblock%}
